<div id="div-main">
    <img src="../../assets/images/login.jpg" alt="">
    <section>
        <img id="user-image" src="../../assets/images/boy1.jpg" alt="">

        <label for="email">
            <span class="input-icon">👤</span>
            <input type="email" id="email" [(ngModel)]="email" placeholder="E-mail ID">
        </label>

        <label for="password">
            <span class="input-icon">🔐</span>
            <input type="password" id="password" [(ngModel)]="password" placeholder="E-mail ID">
        </label>

        <button (click)="login()">LOGIN</button>

        <div id="span-link-div">
            <span class="span-link">Forgot password?</span>
        </div>
    </section>
</div>
